body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  
  color: black;
  text-align: center;
}
#weather-container {
  width: 800px;
  height: 300px;
  box-shadow: -1px 1px 17px 0px rgba(0,0,0,0.7);
  -webkit-box-shadow: -1px 1px 17px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: -1px 1px 17px 0px rgba(0,0,0,0.7);
background: #CD5B92;
background: linear-gradient(45deg, #CD5B92, #A62D12);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
}
input{
  border: 1px solid black;
  /* background-color: rgb(17, 17, 36); */
  padding-top:10px ;
  padding-bottom: 10px;
  font-size: 18px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 10px;
  /* color: crimson; */
  color: black;
}
button{
  /* background: crimson; */
  color: #fff;
  background: rgba(62, 62, 62, 0.82);
  border: 1px solid#fff;
  padding-top:10px ;
  padding-bottom: 10px;
  font-size: 18px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 10px;
  cursor: pointer;
}
button:hover{
    background-color: black;
}